.ChatBox{
 height: 80%;
 width: 60%;
 max-width: 450px;
 background-color: powderblue;
 position: absolute;
 top: 5%;
 left: 30%;
 background-color: #304FFE;
 color: white;
}

.ChatBox h1{
  padding-left: 10px;
  border: 1px solid #304FFE;
}

.ChatMessages{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #E8EAF6; 
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-top: 5px;
}
